body{
    background-image: url('https://img.freepik.com/vector-gratis/fondo-hexagonal-purpura-degradado_23-2148965956.jpg?size=626&ext=jpg&ga=GA1.1.1788614524.1719446400&semt=ais_user');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


body h1{

    color: aliceblue;
}

.resetear{
   background-color: #e3b;
   width: 110px;
   height: 40px;
   border: none;
   border-radius: 10px;

}

.resetear:hover{
    background-color: #91a;

}

.guardar{

    position: relative;
    left: 5px;
    background-color: #e3b;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 10px;

}

.guardar:hover{
    background-color: #91a;

}


.atras{
    background-color: #e3b;
    width: 110px;
    height: 40px;
    border: none;
    position: relative;
    top: 20px;
    border-radius: 10px;

}

.atras:hover{
    background-color: #91a;

}


.textito{
    color: yellow;
    font-size: 15px;
    inline-size: auto;
 
 }


.container{
    margin-top: 2%;
}